.painel__container {
  background-color: var(--main-color);
  border-radius: 10px;
  padding-bottom: 20px;
}

.painel__head {
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.input__filter {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  height: 40px;
  text-align: center;
}

.numericValues__container, .filterOrder__container {
  display: flex;
  width: 40%;
}

.removeBtn_container {
  width: 20%;
}

.numericValues__container {
  align-items: flex-end;
  flex-flow: nowrap;
  flex-direction: column;
}

.filterOrder__container {
  align-items: flex-start;
}

.numericValues__input {
  width: 100%;
}

.numericValues__container select, .numericValues__container input {
  border: none;
  border-radius: 10px;
  height: 50px;
  margin-right: 3px;
  padding: 5px;
  text-align: right;
  width: 24%;
}

.numericValues__container button {
  width: 24%;
}

.advancedFilters__container {
  display: flex;
  margin-top: 10px;
}

.filterOrder__container * {
  width: 33%;
}

.inputRadio__container {
  font-size: 0.8em;
}

.inputRadio__container label {
  vertical-align: middle;
}

.painel__container button {
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
  height: 50px;
  padding: 5px;
}
