/* stylelint-disable selector-list-comma-space-after */
.painel__container {
  background-color: var(--main-color);
  border-radius: 10px;
  padding-bottom: 20px;
}

.painel__head {
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.input__filter {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  height: 40px;
  text-align: center;
}

.numericValues__container, .filterOrder__container {
  display: flex;
  width: 40%;
}

.removeBtn_container {
  width: 20%;
}

.removeBtn_container button {
  align-items: center;
  display: flex;
  width: 100%;
}

.numericValues__container {
  align-items: flex-end;
  flex-flow: nowrap;
  flex-direction: column;
}

.numericValues__input {
  width: 100%;
}

.numericValues__container select,
.numericValues__container input,
.filterOrder__container select {
  border: none;
  border-radius: 10px;
  height: 50px;
  margin-right: 3px;
  padding: 5px;
  text-align: center;
}

.numericValues__container select,
.numericValues__container input,
.numericValues__container button {
  width: 24%;
}

.advancedFilters__container {
  display: flex;
  margin-top: 10px;
  padding: 5px;
}

.filterOrder__container * {
  margin-right: 5px;
  width: 33%;
}

.inputRadio__container {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.inputRadio__container input {
  background: yellow;
  margin-right: 5px;
  width: 15px;
}

.inputRadio__container label, .inputRadio__container input {
  cursor: pointer;
}

.painel__container button {
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
  height: 50px;
  padding: 5px;
}
