.painel__container {
  background-color: var(--main-color);
  height: 100px;
}

.painel__head {
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.input__filter {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  height: 40px;
  text-align: center;
}
